<!--
  Generated template for the ShowDiseasesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>showDiseases</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-card *ngFor="let diseaseName of diseaseNames">

    <ion-card-header>
      {{ diseaseName }}
    </ion-card-header>

    <ion-card-content (click)="onMoreDisease(diseaseName)">

    </ion-card-content>

  </ion-card>


  <ion-list>
    <ion-item *ngFor="let name of names">
      {{ name }}
    </ion-item>
  </ion-list>

</ion-content>